* {
	margin: 0;
	padding: 0;
}

.main-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.product-info {
	height: 90vh;
	width: 80%;
	display: flex;
	flex-direction: row;
}

.product-images {
	margin: 5px;
	width: 50%;
	border: 4px solid rgb(38, 97, 173);
	border-radius: 20px;
	padding: 1em;
}

.img-principal {
	height: 80%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-principal img {
	height: 100%;
	object-fit: contain;
	aspect-ratio: 3/4;
}

.gallery {
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 3px;
}

.gallery img {
	border: 2px solid rgba(38, 96, 173, 0.589);
	border-radius: 10px;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.gallery img:hover {
	border: 2px solid rgba(38, 96, 173, 0.589);
}

.product-variables {
	margin: 5px;
	width: 50%;
	border: 4px solid rgb(38, 97, 173);
	border-radius: 20px;
}
