<div class="main-content">
  <div class="product-info">
    <div class="product-images">
      <div class="img-principal">
        <img src="{{ imagenPrincipal() }}" alt="" />
      </div>
      <div class="gallery">
        @for (img of galeriaActual(); track $index) {
          <img src="{{ img }}" alt="" (click)="changeImage(img)" />
        }
      </div>
    </div>
    <div class="product-variables">
      <p>{{ product()?.title }}</p>
      <p>{{ product()?.short_description }}</p>
      <p>Stock:</p>
      <p>{{ product()?.price }}</p>
      <div class="variant-tree">
        <ng-container
          [ngTemplateOutlet]="variantGroupTemplate"
          [ngTemplateOutletContext]="{ $implicit: variantesProducto() }"
        ></ng-container>
      </div>
      <button class="btn-cart">Añadir carrito</button>
      <div class="product-description"></div>
    </div>
  </div>
  <div class="other-content"></div>
</div>

<ng-template #variantGroupTemplate let-groups>
  @for (group of groups; track groupTrack(group)) {
    <div class="variant-group">
      <p>{{ group.key }}: {{ group.value }}</p>

      @if (group.children.length > 0) {
        <div class="variant-children">
          <ng-container
            [ngTemplateOutlet]="variantGroupTemplate"
            [ngTemplateOutletContext]="{ $implicit: group.children }"
          ></ng-container>
        </div>
      }
    </div>
  }
</ng-template>
